//----命名-------------------//
$style: 亮色, 暗色;

$_menuColor: #fff, #171d1f; //menu底色

$_mainColor: #469658, #bc2769; //主色
$_subColor: #754a96, #21baff; //輔色
//-------------------------------------------顏色變數----//
$_blockColor: rgba(255, 255, 255, 0.9), #232628; //區塊顏色
$_bgColor: #d9dce0, #0f1416; //底色
$_wordColor: #404e55, #bbbbbb; //文字顏色
$_headerColor: #ebf2e1, #171d1f; //header底色

$_headingColor: #111, #eee;
$_aColor: #6a4689, #eee;
$_aHover: #8100cb, #00beda;

$_thColor: #e4edef, #404e55;

$_highlight: #058dca, #00f6ff;
$_line: #ddd, #333;
