* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
}
.content {
  font-size: 1em;

  &.small_size {
    font-size: 0.938em;
  }
  &.large_size {
    font-size: 1.25em;
  }
} // 預設字級 1em 的倍

code,
pre {
  font-size: 14px;
  line-height: 1.45em;
}
.text-left {
  text-align: left !important;
  justify-content: flex-start;
}
.text-center {
  text-align: center !important;
  justify-content: center;
}
.text-right {
  text-align: right !important;
  justify-content: flex-end;
}
.demo_line {
  outline: 1px #f08bc3 solid;
}
.dropdown {
  position: relative;
}
.color {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  @include screen('tablet') {
    span {
    }
  }
  @include screen('mobile') {
    display: block;
    span {
      width: 50%;
      height: 100px;
      float: left;
    }
  }
  span {
    width: 100px;
    height: 100px;
    display: flex;
    flow: 0 0 100px;
    justify-content: center;
    line-height: 100px;
    align-self: stretch;
    align-items: stretch;
    text-align: center;
    color: #fff;
    margin: 0 0.2em 0.4em;
    @include screen('mobile') {
      margin: 0 1px 1px;
      flow: 1 1 100%;
    }
  }
}
.demo_componet {
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.3);
  background: $blockColor;
  // min-height: 482px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  border-radius: $border-radius;
  position: relative;
  padding: 0.5em;
  flex: 0 0 100%;
}
.demo_info {
  a {
    color: darken($secondaryColor, 10) !important;
    &:hover,
    &:focus {
      color: darken($secondaryColor, 0) !important;
    }
  }
  @include gutter(16px);
  margin-bottom: 0.5em;
  border-radius: $border-radius;
  pre {
    border-radius: $border-radius;
  }
}
h3.demo {
  @include gutter;
  font-size: 1.25em;
  color: $wordColor;
}
h4 {
  margin: 0.5em 0;
}
body {
  background: $headerColor;
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    transform: translateZ(0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    display: none;
    @include screen('tablet') {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  &.dark {
    background: $bgColor_d;
  }
}
// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  background: $headerColor url('../images/footer_bg.png') no-repeat left bottom;
  background-size: 100% auto;
  background-attachment: fixed;
  // background: $bgColor;
  @include screen('mobile') {
    overflow: hidden;
    overflow-y: auto;
  }
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    margin: 0;
    padding: 0;
  }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}
.content {
  padding: 5rem 1.5rem 1rem 1.5rem;
  margin-left: 17rem;
  margin-right: 1rem;
  position: relative;
  // transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  min-height: 100vh;
  // max-width: 90em;
  &.full {
    margin-left: 5em;
  }
  @media screen and (max-width: 1440px) {
    margin-left: 14rem;
  }
  @include screen('tablet') {
    margin: 6em 1em 1em;
    padding: 0;
    &.full {
      margin-left: 1em;
    }
  }
}
.btn-back {
  margin-left: 1em;
  border: 1px solid $secondaryColor;
  border-bottom: 2px solid $secondaryColor;
  background: $secondaryColor;
  padding-left: 0.2em;
  padding-right: 0.6em;
  font-weight: normal;
  font-size: 0.75rem;
  color: #fff;
  position: absolute;
  top: 70px;
  right: 1rem;
  i {
    font-size: 0.938rem;
    // opacity: .5;
    filter: invert(100%);
  }
  .ink {
    display: none;
  }
}
.grid {
  padding-bottom: 3em;
  .title {
    // border: 1px solid rgba(166, 171, 182, 0.3);
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
    @include gutter(12px);
    flex-flow: row nowrap;
    justify-content: space-between;
    display: flex;
    align-items: center;
    @include screen('mobile') {
      flex-flow: row wrap;
    }
    .btn {
      // margin-left: 1em;
      // border: 1px solid #ccc;
      // border-bottom: 2px solid #ccc;
      // background: #f7f7f7;
      // padding-left: 0.2em;
      // padding-right: 0.6em;
      // font-weight: normal;
      font-size: 0.938em;
      padding: 0.5rem 1.2rem 0.5rem 0.5rem;
      i {
        font-size: 0.938rem;
        opacity: 1;
        filter: invert(100%);
      }
      .ink {
        display: none;
      }
    }
    @include screen('mobile') {
      @include gutter(0);
      margin-bottom: 0;
    }
    h2 {
      font-size: 1.6em;
      line-height: 1.125em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: darken($headingColor, 20);
      position: relative;
      padding-left: 15px;
      font-optical-sizing: auto;
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: 600;
      &:before {
        content: '';
        width: 5px;
        height: 1em;
        position: absolute;
        top: 0;
        left: 0;
        background: #feda4c;
      }
      &:after {
        content: '';
        width: 5px;
        height: 0.5em;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #ffea50;
      }
      span {
        display: inline-block;
        position: relative;
        font-size: 1rem;
        color: lighten($headingColor, 30);
        margin-left: 1em;
        padding-left: 1em;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          content: '/';
        }
      }
      @include screen('mobile') {
        flex: 1 1 100%;
      }
    }
    .btn-adv {
      align-self: center;
      padding: 0.5em;
      min-width: 0em;
      font-size: 0.875em;
      background: $secondaryColor;
      border: 1px solid $secondaryColor;
      i {
        opacity: 1;
        filter: invert(100%);
        span {
          filter: invert(100%);
        }
      }
      .ink {
        display: block;
      }
    }
    .quick_btn {
      @include screen('mobile') {
        flex: 1 1 100%;
        margin-bottom: 1em;
      }
    }
  }
  @include gutter(0);
  .container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .col {
    min-height: 200px;
    margin: 0px 0px 16px;
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    @include gutter(16px);
    @include screen('mobile') {
      @include gutter(0);
    }
  }
}
.demo [class^='flex-'] {
  min-height: 200px;
}
.flex-8-4 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: no-wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @include screen('mobile') {
    flex-wrap: wrap; //換行
  }
  .col {
    // flex: 2 2 300px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 66.6666%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: stretch;
    &:nth-child(2n) {
      // flex: 1 1 300px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 33.3333%;
    }
    @include screen('mobile') {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      &:nth-child(2n) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
      }
    }
  }
}
.flex-4-8 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: no-wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @include screen('mobile') {
    flex-wrap: wrap; //換行
  }
  .col {
    // flex: 2 2 300px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 33.3333%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: stretch;
    &:nth-child(2n) {
      // flex: 1 1 300px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 66.6666%;
    }
    @include screen('mobile') {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      &:nth-child(2n) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
      }
    }
  }
}
.flex-9-3 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: no-wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @include screen('mobile') {
    flex-wrap: wrap; //換行
  }
  .col {
    // flex: 2 2 300px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: stretch;
    &:nth-child(2n) {
      // flex: 1 1 300px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 25%;
    }
    @include screen('tablet') {
      flex-basis: 66.6666%;
      &:nth-child(2n) {
        flex-basis: 33.3333%;
      }
    }
    @include screen('mobile') {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      &:nth-child(2n) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
      }
    }
  }
}
.flex-3-9 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: no-wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  @include screen('mobile') {
    flex-wrap: wrap; //換行
  }
  .col {
    // flex: 2 2 300px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    align-self: flex-start;
    &:nth-child(2n) {
      // flex: 1 1 300px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 75%;
    }
    @include screen('tablet') {
      flex-basis: 33.33333%;
      &:nth-child(2n) {
        flex-basis: 66.66666%;
      }
    }
    @include screen('mobile') {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
      &:nth-child(2n) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
      }
    }
  }
}
.flex-4-4-4 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-self: flex-start;
  .col {
    flex: 1 1 33.3333%;
    display: flex;
    justify-content: center;
    @include screen('mobile') {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
    }
  }
}
.flex-3-3-3-3 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-self: flex-start;
  .col {
    flex: 1 1 25%;
    display: flex;
    justify-content: center;
    @include screen('mobile') {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 100%;
    }
  }
}
.flex-6-6 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-self: flex-start;
  .col {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include screen('mobile') {
      // flex: 1 1 100%;
      display: block;
      width: 100%;
      flex: 0 0 100%;
    }
  }
}
.flex-12 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-self: flex-start;
  .col {
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    @include screen('mobile') {
      // flex-grow: 1;
      // flex-shrink: 1;
      // flex-basis: 100%;
      display: block;
      width: 100%;
    }
  }
}
.flex-3-6-3 {
  display: flex; //外容器設定為flex
  flex-direction: row; //左到右
  flex-wrap: wrap; //換行
  justify-content: space-around;
  align-items: stretch;
  align-self: flex-start;
  .col {
    flex: 2 0 12%;
    display: flex;
    justify-content: center;
    &:nth-child(2n) {
      flex: 1 1 35%;
      display: flex;
      justify-content: center;
    }
    @include screen('mobile') {
      // flex-grow: 1;
      // flex-shrink: 1;
      // flex-basis: 100%;
      display: block;
      width: 100%;
      flex: 0 0 100%;
    }
  }
}
// .widget_block
// content_block
.content_block,
.widget_block,
.publish_block {
  box-shadow: $box-shadow;
  background: $blockColor;
  // min-height: 482px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  border-radius: $border-radius;
  position: relative;
  padding: 1em;
  flex: 1 1 calc(80% - 260px);
  margin: 0 auto 0.5em 0;
  // overflow: hidden;
  &.nobg {
    background: none;
    box-shadow: none;
  }
  &.search_block {
    padding: 30px;
    @include screen('tablet') {
      padding: 30px 15px;
    }
  }
  &.gray {
    background: #eef2eb;
    padding: 0;
    box-shadow: none;
    ._head {
      h3 {
        background: rgb(88, 168, 62);
        background: linear-gradient(180deg, rgba(88, 168, 62, 1) 0%, rgba(93, 177, 65, 1) 50%, rgba(97, 186, 68, 1) 100%);
        margin: 0 0 0.25em;
        display: flex;
        flex: 1 1 auto;
        font-size: 1.25rem;
        border-bottom: 0px solid #aaa;
        color: #fff;
        justify-content: center;
        // text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        padding: 0.6em 0.5em;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      &.bgcolor2 {
        h3 {
          background: rgb(48, 121, 74);
          background: linear-gradient(180deg, rgba(48, 121, 74, 1) 0%, rgba(52, 135, 82, 1) 50%, rgba(59, 150, 91, 1) 100%);
        }
      }
      &.bgcolor3 {
        h3 {
          background: rgb(0, 143, 130);
          background: linear-gradient(180deg, rgba(0, 143, 130, 1) 0%, rgba(0, 162, 147, 1) 50%, rgba(0, 178, 162, 1) 100%);
        }
      }
    }
    ._content {
      display: flex;
      .mp_widget {
        flex: 1 1 49%;
        &:nth-child(even) {
          border-left: solid 1px #fff;
        }
      }
    }
  }
  &.green1 {
    background: rgb(138, 193, 44);
    background: linear-gradient(145deg, rgba(138, 193, 44, 1) 0%, rgba(128, 178, 40, 1) 50%, rgba(111, 155, 33, 1) 100%);
    box-shadow: none;

    &:hover,
    &:focus {
      background: rgb(138, 193, 44);
      background: linear-gradient(0deg, rgba(138, 193, 44, 1) 0%, rgba(128, 178, 40, 1) 50%, rgba(111, 155, 33, 1) 100%);
    }
  }

  &.green2 {
    background: rgb(0, 141, 110);
    background: linear-gradient(145deg, rgba(0, 141, 110, 1) 0%, rgba(0, 132, 103, 1) 50%, rgba(0, 114, 89, 1) 100%);
    box-shadow: none;

    &:hover,
    &:focus {
      background: rgb(0, 141, 110);
      background: linear-gradient(0deg, rgba(0, 141, 110, 1) 0%, rgba(0, 132, 103, 1) 50%, rgba(0, 114, 89, 1) 100%);
    }
  }
  &.green1,
  &.green2 {
    ._head {
      h3 {
        color: #fff;
        min-height: 3.5em;
        border: none;
        line-height: 1.5em;
        background: none;
        // font-size: 1.125rem;
        &:hover,
        &:focus {
          background: none;
        }
      }
    }
    ._content {
      padding-bottom: 0;
    }
  }
  h3 {
    margin: 0.5em 0;
    padding-bottom: 0.3em;
    position: relative;
    color: $headingColor;
    font-size: 1.25em;
    display: flex;
    width: 100%;
    font-optical-sizing: auto;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
  }
  a {
    h3 {
      background: #f1f1f1;
      padding: 0.2em 0.5em;
      border-radius: 5px;
      &:hover,
      &:focus {
        background: #c8ea8f;
      }
    }
  }
  ._head {
    margin-bottom: 0.25em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
    // flex:0 1 100%;
    width: 100%;
    small {
      margin-left: 1em;
      color: #333;
      font-size: 0.875rem;
      font-weight: normal;
    }
    // &>div{
    //     outline:1px solid red;
    // }
    .sort_panel {
      padding: 0.4em 1em;
      border-radius: 0.25em;
      display: flex;
      align-items: center;
      align-self: flex-start;
      justify-content: flex-start;
      flex-flow: row nowrap;
      flex: 1 1 auto;
      @include screen('tablet') {
        flex: 1 1 100%;
        padding: 0;
      }
      .check_grp {
        label {
          margin-bottom: 0;
          margin-top: auto;
        }
      }
      .btn {
        min-width: 6em;
        padding: 0.25em 0.25em 0.25em 1em;
        i {
          transform: scale(0.75);
        }
      }
      .flex-form,
      .btn-grp {
        flex: 0 1 auto;
        @include screen('mobile') {
          flex: 0 1 100%;
        }
      }
      .btn_grp {
        flex-flow: row nowrap;
        .btn {
          background: transparent;
          border: 1px solid #ddd;
          i {
            font-size: 0.75rem;
            opacity: 0.5;
          }
        }
        @include screen('mobile') {
          display: none;
        }
      }
    }
    .data-title {
      margin-top: 1.5em !important;
      input[type='text'] {
        background: lighten($color-yellow, 40);
        font-weight: 600;
      }
      .labelEffect {
        margin-left: 0 !important;
      }
    }
    .flex-form {
      margin: 0;
      font-size: 0.875rem;
      .form_grp {
        margin: 0;
        align-items: flex-end;
      }
      .form_content {
        padding: 0;
        margin: auto 0 0 0;
        border: none;
      }
    }
    .pagination {
      margin: 0 auto;
      select {
        width: 5.5em;
        text-align: center;
        border: 1px solid transparent;
        background: url(../images/basic/icon_select_arrow.svg) no-repeat right center transparent;
        background-size: 20px;
      }
    }
    .pagination {
      @include screen('mobile') {
        display: none;
      }
    }
    .listfunction {
      flex: 1 1 auto;
      margin-bottom: 0.5em;
      label {
        display: inline-block;
        font-weight: bold;
      }
      select {
        width: auto;
      }
    }
    .btn_right {
      flex: 1 1 auto;
      text-align: right;
      .btn {
        padding: 0.5em 1.25em 0.5em 0.8em;
      }
    }
    .ullist {
      margin: 1em 0;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0 1em 0 0;
      }
    }
    .tag {
      flex: 1 1 100%;
      margin: 0.1em 0 1em;
      padding: 0em 0em 0.25em;
      border-bottom: 1px solid #f1f1f1;
    }
    h3 {
      margin: 0 0 0.25em;
      display: flex;
      flex: 1 1 auto;
      font-size: 1.25rem;
      // border-bottom: 1px solid #aaa;
      color: $color-word;
      line-height: 1.5em;
    }
    .quick_btn {
      flex: 1 1 6em;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 6em;
      text-align: right;
      justify-content: flex-end;
      margin: 0 0 0 1em;
      align-items: center;
      @include screen('mobile') {
        margin: 0 0 0.5em auto;
        flex: 0 1 50%;
        .btn {
          width: auto;
          margin: 0 !important;
        }
      }
      @include screen('tablet') {
        order: -1;
        flex: 1 1 100%;
      }
      .btn {
        font-size: 0.875rem;
        border-radius: 0.25em;
        padding: 0.4em 1.2em 0.4em 0.6em;
        align-self: center;
        border-radius: 2em;
        // margin: 0 0 0 .25em;
        i {
          filter: invert(100%);
          opacity: 1;
          span {
            filter: invert(100%);
          }
        }
        .i_sort {
          font-size: 0.75em;
        }
      }
    }
    .int {
      margin: 0 0 1em;
      color: #c00;
    }
  }
  ._content {
    // flex:1;
    // overflow: hidden;
    padding-bottom: 1em;
    h3 {
      border: none !important;
    }
    p {
      max-width: 50em;
      font-size: 0.875em;
      color: #888;
      margin: 0;
    }
  }
  .chart_info {
    width: 220px;
    height: 1.5em;
    position: absolute;
    top: 1.4em;
    right: 1em;
    padding-right: 2em;
    .update {
      display: block;
      white-space: nowrap;
      font-size: 0.813em;
      color: #afafaf;
      position: absolute;
      bottom: -2em;
      right: 0;
      time {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.3em;
      }
    }
    .question {
      position: absolute;
      right: 0;
      top: 0;
      a {
        display: block;
        width: 1.2em;
        height: 1.2em;
        background: #ddd;
        border-radius: 50%;
        background: #9b9b9b;
        text-align: center;
        img {
          width: 100%;
          transform: scale(0.75);
          filter: invert(100%);
        }
        &:hover,
        &:focus {
          background: $secondaryColor;
        }
      }
    }
  }
}
.content_block {
  .flex-form {
    width: 96%;
    max-width: 50em;
    margin: 1em auto 2em 1em;
  }
}
.widget_block {
  flex: 0 1 250px;
  min-width: 200px;
  margin: 0 10px 0 0;
  box-shadow: 0px 6px 15px -13px rgba(0, 0, 0, 0.6);
  background: $blockColor;
  padding: 1em 0.75em;
  border-radius: $border-radius;
  align-self: flex-start;
  .containerTableStyle {
    table {
      text-align: left;
      border: none !important;
      th,
      td {
        text-align: left;
        font-size: 0.813rem;
        border: none !important;
        span {
          font-size: 0.813rem !important;
        }
      }
    }
  }
}
.publish_block {
  flex: 0 1 260px;
  margin: 0 0 0 15px;
  box-shadow: none;
  background: transparent;
  align-self: flex-start;
  padding: 0;
  transform: translateZ(0);
  padding-bottom: 5em;
  // &.fixed {
  //     position: fixed;
  //     left:0;
  //     top:0;
  //     transform: translateZ(0);
  // }
  ._head {
    h3 {
      font-size: 0.938rem;
      margin-bottom: 1em;
      padding-bottom: 0.25em;
    }
  }
  .flex-form {
    font-size: 0.875rem;
    .radio_grp,
    .check_grp {
      label {
        margin-bottom: 0;
        font-size: 0.813rem;
      }
    }
    .form_grp {
      margin-bottom: 0em;
    }
    .form_content {
      margin-bottom: 0;
    }
    hr {
      flex: 1 1 100%;
      margin: 0.5em 0 2em;
    }
    input[type='text'],
    input[type='password'],
    input[type='calendar'] {
      padding: 0.5em;
    }
    .datepick {
      .btn {
        top: 0em;
      }
    }
  }
  .block {
    background: $blockColor;
    padding: 0.5em 1em;
    box-shadow: 0px 6px 15px -13px rgba(0, 0, 0, 0.6);
    border-radius: $border-radius;
    margin: 0 auto 0.5em;
    width: 100%;
    .btn_grp {
      display: flex;
      flex-flow: row wrap;
      button {
        flex: 1 1 45%;
        padding: 0.45em 0.25em;
      }
    }
  }
  .log {
    font-size: 0.75rem;
    width: 100%;
    background: #f5f5f5;
    border-radius: 0.2em;
    color: #444;
    padding: 0.25em 1em;
    ul {
      @include li-reset;
      margin-bottom: 0.5em;
      span {
        width: 1em;
        display: inline-block;
        font-weight: bold;
        margin-right: 0.5em;
        opacity: 0.5;
      }
    }
  }
}
// .main {
//     position: relative;
//     margin: 0 auto;
//     padding: 0;
//     // 可先設定一個中央區塊最大寬，限制accesskey對齊
//     @include screen('mobile') {
//         padding-top: 55px;
//     }
//     h2 {
//         line-height: 1.25em;
//     }
// }
// scrollbar
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  // background: rgba(0,0,0,0.3)
}
// table
table .dropdown-btn {
  i {
    display: none;
  }
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  min-width: 2em;
  background: #fff;
  border: 1px solid #ddd;
  &:hover,
  &:focus {
    border: 1px solid $aHover !important;
    background: #fff;
    box-shadow: none;
    background: $aHover;
    i {
      filter: invert(100%);
    }
    &:before {
      border: 2px solid #fff;
      border-left: none;
      border-top: none;
    }
  }
  &:before {
    width: 6px;
    height: 6px;
    right: 0.9em;
    content: '';
    position: absolute;
    border: 2px solid #333;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    top: 0.9em;
  }
}
table .dropdown-content {
  width: 200px;
  top: 3.2em;
  left: -150px;
  // right: 1em;
  &:before {
    right: 15%;
    left: auto;
  }
  .btn {
    width: 100%;
    text-align: left;
    font-size: 0.875em;
    padding: 0.5em !important;
    background: #fff;
    border: 1px solid #ddd !important;
    &:hover,
    &:focus {
      border: 1px solid $aHover !important;
      background: $aHover !important;
      color: #fff;
      i {
        filter: invert(100%);
      }
    }
    i {
      margin-right: 0.5em;
    }
    &.btn-red {
      border: 1px solid $color-red !important;
      color: $color-red;
      &:hover {
        color: #fff;
        background: $color-red !important;
        border: 1px solid $color-red !important;
        i {
          filter: invert(100%);
        }
      }
    }
  }
}
// table 的動作按鈕
table {
  td {
    .dropdown {
      display: inline-block;
      position: relative;
      margin: 0 0.5em;
      .dropdown-btn {
        padding: 0;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        min-width: 2em;
        background: #fff;
        position: relative;
        border: 1px solid #ddd;
        i {
          display: none;
        }
        &:hover,
        &:focus {
          border: 1px solid $form-focus !important;
          background: #fff;
          box-shadow: none;
          background: $form-focus;
          i {
            filter: invert(100%);
          }
          &:before {
            border: 2px solid #fff;
            border-left: none;
            border-top: none;
          }
        }
        &:before {
          width: 6px;
          height: 6px;
          right: 0.9em;
          content: '';
          position: absolute;
          border: 2px solid #333;
          border-left: none;
          border-top: none;
          transform: rotate(45deg);
          top: 0.8em;
        }
      }
      .dropdown-content {
        width: 16em;
        min-width: 16em;
        top: 2.2em;
        left: auto;
        right: -1em;
        padding: 1em;
        position: absolute;
        border-radius: 0.5em;
        box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
        z-index: 999998;
        ul {
          @include li-reset;
          li {
            list-style: none;
            padding: 0;
            margin: 0;
          }
        }
        // right: 1em;
        &:before {
          right: 15%;
          left: auto;
        }
        &.show {
          display: block;
          top: 3.2em;
          opacity: 1;
          pointer-events: auto;
        }
        .btn {
          width: 100%;
          text-align: left;
          font-size: 0.875rem;
          padding: 0.25em !important;
          background: #fff;
          border: 1px solid #ddd !important;
          text-shadow: none;
          i {
            margin-right: 0.5em;
            opacity: 0.5;
          }
          &:hover,
          &:focus {
            border: 1px solid $form-focus !important;
            background: $form-focus !important;
            color: #fff;
            cursor: pointer;
            i {
              filter: invert(100%);
              opacity: 1;
            }
          }
          &.btn-red {
            border: 1px solid $color-red !important;
            background: $color-red;
            color: #fff;
            i {
              filter: invert(100%);
              opacity: 1;
            }
            &:hover,
            &:focus {
              color: #fff;
              background: lighten($color-red, 10) !important;
              border: 1px solid lighten($color-red, 10) !important;
            }
          }
        }
      }
    }
  }
}
// control_panel
.control_panel {
  margin: 0 0 0.1em;
  padding-bottom: 0.2em;
  text-align: right;
  display: flex;
  flex: 0 1 11.5em;
  align-items: center;
  @include screen('mobile') {
    flex: 1 1 50%;
  }
  .dropdown {
    width: 100%;
    z-index: 9;
    .btn {
      width: 100%;
      border: 1px solid #999;
      background: #999;
      color: #fff;
      &:hover,
      &:focus {
        background: #666;
        border: 1px solid #666 !important;
      }
    }
    .dropdown-content {
      left: 0;
      right: auto;
      z-index: 999999;
      width: 100%;
      min-width: 4em;
      .btn {
        font-size: 0.813rem;
      }
      ul {
        @include li-reset;
        li {
          list-style: none;
          button {
            text-align: left;
            &:hover,
            &:focus {
              background: $form-focus;
              border: 1px solid $form-focus !important;
            }
          }
          .btn-delete {
            background: $color-red;
            border: 1px solid $color-red !important;
            color: #fff;
            i {
              filter: invert(100%);
            }
            &:hover,
            &:focus {
              background: $color-red;
              border: 1px solid $color-red !important;
            }
          }
        }
      }
      &.show {
        top: 3.5em;
      }
    }
  }
  .btn_grp {
    padding: 0.2em 0;
  }
  span {
    float: left;
    display: block;
    margin: 0.5em 0.5em 0.5em 0;
  }
  .info {
    margin-right: 2em;
    @include screen('mobile') {
      display: block;
      margin: 0 0 0.5em;
    }
  }
  .btn {
    font-size: 0.875rem;
    background: #fff;
    align-self: center;
    padding: 0.4em 1em 0.4em 0.4em;
    border: 2px solid #ddd;
    margin: 0 0.25em 0.25em 0;
    i {
      opacity: 0.75;
    }
    &:hover,
    &:focus {
      border: 2px solid $aHover !important;
    }
    .i_sort {
      font-size: 0.75em;
    }
    &:hover,
    &:focus {
      background: $aHover;
      color: #fff;
      border: 2px solid $aHover;
      i {
        filter: invert(100%);
        opacity: 1;
      }
    }
  }
  .btn-red {
    text-shadow: none;
    color: #333;
    i {
      filter: invert(100%);
      margin-right: 0.3em;
      font-size: 0.938rem;
    }
    &:hover,
    &:focus {
      color: #fff;
      background: darken($color-red, 10);
      border: 2px solid darken($color-red, 10) !important;
      i {
        filter: invert(0%);
      }
    }
  }
}
.adv_search {
  display: none;
  flex: 1 1 100%;
  .btn_grp {
    display: flex;
    justify-content: center;
  }
  .flex-form {
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    margin: 0.8em 0 0;
    .form_grp {
      flex: 1 0 calc(50% - 1em);
      margin-left: 0.5em;
      margin-right: 0.5em;
      @include screen('tablet') {
        flex-basis: 100%;
      }
    }
  }
}
// card
.card {
  display: flex;
  padding-bottom: 1em;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: row wrap;
  .item {
    flex: 0 1 calc(25% - 1em);
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(25% - 1em);
    max-width: calc(25% - 1em);
    margin: 0 0.5em 1em;
    background: #fff;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);
    border-radius: 0.25em;
    min-height: 200px;
    padding-bottom: 4em;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    transition: 0.3s ease-out;
    @media screen and (min-width: 1600px) {
      flex: 0 1 calc(20% - 1em);
      max-width: calc(20% - 1em);
    }
    @include screen('notebook') {
      flex: 0 1 calc(33.33% - 1em);
      max-width: calc(33.33% - 1em);
    }
    @include screen('mobile') {
      flex: 0 1 calc(50% - 1em);
      max-width: calc(50% - 1em);
    }
    @include screen('xs_mobile') {
      flex: 0 1 calc(100% - 1em);
      max-width: calc(100% - 1em);
    }
    &:hover {
      box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5);
      .dropdown {
        .dropdown-btn {
          display: block;
        }
      }
      .tag_grp {
        .tag {
          background: rgba(0, 0, 0, 0.85);
        }
      }
    }
    .num {
      position: absolute;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.35);
      color: #fff;
      text-align: center;
      line-height: 2em;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
      top: 0.5em;
      left: 0.5em;
      z-index: 1;
    }
    .check_grp {
      position: absolute;
      top: 0.5em;
      left: 0.5em;
    }
    .dropdown {
      position: absolute;
      top: 5px;
      right: 5px;
      .dropdown-btn {
        display: none;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        min-height: 3em;
        z-index: 9;
        padding: 0em;
        min-width: 0em;
        transition: 0.3s ease-out;
        background: #fff;
        border: 1px solid #ccc;
        &:hover,
        &:focus {
          background: $color-blue;
          border: 1px solid $color-blue;
          i {
            filter: invert(100%);
          }
        }
      }
      .dropdown-content {
        z-index: 99;
        width: 15em;
        max-width: 15em;
        min-width: 15em;
        ul {
          @include li-reset;
          li {
            list-style: none;
            margin-bottom: 0.25em;
            .btn {
              width: 100%;
              text-align: left;
              padding: 0.25em 0.5em;
              font-size: 0.875rem;
              margin: 0 0 0.25em;
              background: #fff;
              border: 1px solid #ccc;
              &:last-child {
                margin-bottom: 0;
              }
              i {
                margin-right: 1em;
              }
              &:hover,
              &:focus {
                color: #fff;
                background: $form-focus;
                border: 1px solid $form-focus;
                i {
                  filter: invert(100%);
                }
              }
            }
            .btn-delete {
              background: $color-red;
              color: #fff;
              i {
                filter: invert(100%);
              }
              &:hover,
              &:focus {
                color: #fff;
                background: $color-red;
                border: 1px solid $color-red;
                i {
                  filter: invert(100%);
                }
              }
            }
          }
        }
      }
    }
    .tag_grp {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
      display: flex;
      .tag {
        background: RGBA(0, 0, 0, 0.5);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
        font-size: 0.875em;
        padding: 0.2em 0.75em;
        border-radius: 0.3em;
        margin: 0 0.25em;
        font-size: 0.75rem;
        color: #fff;
        transition: 0.3s ease-out;
      }
    }
    .img-container {
      border-radius: 0.25em 0.25em 0 0;
      @include aspect-ratio(16, 9);
    }
    .card_info {
      padding: 0.5em 1em;
      font-size: 0.938em;
      color: #666;
      .card_title {
        margin: 0.25em 0 1em;
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
      }
      ul {
        @include li-reset;
        font-size: 0.875rem;
        li {
          border-bottom: 1px solid #dedede;
          padding: 0.25em 0.5em;
          &:last-child {
            margin-bottom: 0;
          }
          span {
            color: $primaryColor;
          }
        }
      }
    }
    .btn-grp {
      display: block;
      text-align: center;
      justify-content: center;
      position: absolute;
      width: 90%;
      left: 50%;
      bottom: 1em;
      margin-left: -45%;
      .btn {
        width: 100%;
        margin: 0;
      }
    }
  }
}
.media {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: 1px solid #888;
  padding-top: 0.5em;
}
.folder_list {
  .widget_block {
    padding: 0.25em 0.5em;
    ._head {
      h3 {
        font-size: 0.938rem;
        padding: 0;
        margin: 0;
      }
    }
  }
  flex: 0 1 180px;
  margin-right: 1em;
  @include screen('tablet') {
    display: none;
  }
  .btn {
    margin: 0 auto 1em;
    width: 100%;
  }
  @include screen('tablet') {
    order: 2;
    display: none;
  }
  ul {
    & > li {
      margin-bottom: 1em;
    }
    ul {
      padding: 0.5em 0.5em 0.5em 1em;
      margin-top: 0.25em;
      background: #f5f5f5;
      display: none;
    }
    li {
      margin-bottom: 0.25em;
      &.active {
        & > a {
          background: $form-focus;
          color: #fff;
        }
      }
      a {
        background: #f5f5f5;
        display: block;
        border-radius: 0.2em;
        padding: 0.25em 0.5em;
        color: #333;
        font-size: 0.875em;
        &:focus {
          background: $form-focus;
          color: #fff;
        }
      }
      i {
        margin-right: 0.5em;
        font-size: 1rem;
      }
      li {
        a {
          padding: 0.25em 1.25em;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 2px;
            background: #666;
            left: 0.5em;
            top: 0.9em;
          }
          &:focus {
            color: $form-focus;
            background: transparent;
            &:before {
              background: $form-focus;
            }
          }
        }
      }
    }
  }
  ul {
    @include li-reset;
  }
}
// .widget {
//     // .widget_title {
//     //     font-size: 1.25em;
//     //     font-weight: bold;
//     //     border-bottom: 1px solid #DDD;
//     //     margin-bottom: .5em;
//     //     padding-top: .05em;
//     //     padding-bottom: .2em;
//     // }
//     // margin: .5em 0 1em;
//     // .widget_content {
//     //     background: #F5F5F5;
//     //     padding: .5em;
//     // }
// }
.hot_tag {
  .btn {
    width: auto;
    font-size: 0.75rem;
    padding: 0.2em 0.4em;
    margin: 0 0 0.25em 0;
    background: #fff;
  }
  a {
    display: inline-block;
    width: auto;
    border: 1px solid #ccc;
    color: #666;
    &.active {
      background: $form-focus;
      border: 1px solid $form-focus;
      color: #fff;
    }
  }
}
.upload_area {
  position: fixed;
  transform: translateZ(0);
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;
  span {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    line-height: 1.25em;
    max-width: 380px;
    padding: 1em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 99;
  }
  &:after {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    border: 2px dashed #fff;
    content: '';
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
    content: '';
    background: darken($color-blue, 10);
  }
}
.attachment_list {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 calc(100% - 350px);
  flex-basis: calc(100% - 350px);
  .item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px dashed #ddd;
    align-items: center;
    &:hover {
      .num {
        color: $aHover;
      }
      .form_grp {
        input {
          color: $aHover;
        }
      }
    }
    .num {
      flex-basis: 1.25em;
      width: 1.25em;
      margin-right: 0.5em;
      color: #888;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .check_grp {
      flex-basis: 1.5em;
      margin-right: 1em;
      label {
        margin: 0;
      }
    }
    a {
      flex-basis: 30px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      margin-right: 1em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        flex-grow: 1;
        flex-basis: calc(100% - 30px);
        flex-shrink: 0;
      }
      .img-container {
        background: none;
        margin-right: 1em;
        @include aspect-ratio(1, 1);
        width: 30px;
        flex-grow: 0;
        flex-basis: 30px;
        flex-shrink: 0;
        margin: 0 1em 0 0;
        img {
          object-fit: contain;
        }
      }
    }
    .form_grp {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      input {
        background: none;
        pointer-events: none;
        cursor: arrow;
        color: #555;
      }
    }
    .btn_grp {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50px;
      & > .btn {
        padding: 0;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        min-width: 2em;
        background: #fff;
        position: relative;
        border: 1px solid #ddd;
        &:hover,
        &:focus {
          border: 1px solid $form-focus;
          background: #fff;
          box-shadow: none;
          background: $form-focus;
          &:before {
            border: 2px solid #fff;
            border-left: none;
            border-top: none;
          }
          i {
            filter: invert(100%);
            span {
              filter: invert(100%);
            }
          }
          span {
            filter: invert(100%);
          }
        }
      }
      & > .btn-delete {
        &:hover,
        &:focus {
          color: #fff;
          background: $color-red;
          border: 1px solid $color-red;
        }
      }
    }
  }
}
.photo_list {
  min-height: 400px;
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  background: #f2f2f2;
  position: relative;
  flex: 1 1 calc(100% - 350px);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - 350px);
  width: 100%;
  .item {
    margin: 2px;
    position: relative;
    padding: 4px;
    background: #fff;
    flex: 0 1 calc(12.5% - 4px);
    flex-basis: calc(12.5% - 4px);
    max-width: calc(12.5% - 4px);
    @media screen and (min-width: '1600px') {
      flex: 0 1 calc(10% - 4px);
      max-width: calc(10% - 4px);
    }
    @include screen('notebook') {
      flex: 0 1 calc(20% - 4px);
      max-width: calc(20% - 4px);
    }
    @include screen('tablet') {
      flex: 0 1 calc(16.6666% - 4px);
      max-width: calc(16.6666% - 4px);
    }
    @include screen('mobile') {
      flex: 0 1 calc(25% - 4px);
      max-width: calc(25% - 4px);
    }
    @include screen('xs_mobile') {
      flex: 0 1 calc(50% - 4px);
      max-width: calc(50% - 4px);
    }
    &:hover {
      cursor: pointer;
      .check_grp {
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 0;
        left: 0;
        height: calc(100% - 2em);
        label {
          width: 100%;
          height: 100%;
          display: flex;
          input {
            margin: 0 0 auto 0;
          }
        }
      }
    }
    p {
      @include text-overflow;
    }
    a {
      display: block;
      &:hover,
      &:focus {
        span {
          color: $aHover;
        }
      }
      span {
        font-size: 0.87rem;
        width: 100%;
        display: block;
        color: #555;
        @include text-overflow;
      }
    }
    .img-container {
      @include aspect-ratio(1, 1);
      background: #eee;
      border: 1px solid #fff;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2) inset;
        z-index: 1;
        content: '';
      }
      &.active {
        border: 1px solid $form-focus;
        img {
          opacity: 1;
        }
        &:after {
          background: rgba(188, 188, 188, 0.5);
          box-shadow: 0px 0px 0px 6px $form-focus inset;
        }
      }
      img {
        opacity: 0.8;
        transition: 0.3s ease-out;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
    .check_grp {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      display: none;
      padding: 0.75em 0 0 0.75em;
      &.show {
        display: block;
        & ~ a {
          // pointer-events: none;
        }
      }
    }
  }
}
.fancybox-slide--iframe .fancybox-content {
  width: 800px;
  height: 600px;
  max-width: 80%;
  max-height: 80%;
  margin: 0;
  @include screen('tablet') {
    max-width: 96%;
    max-height: 90%;
  }
}
.fancybox-button--close {
  &:hover,
  &:focus {
    background: $form-focus !important;
  }
}
.lightbox {
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  max-width: 1400px;
  &:before {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: 0;
  }
  .lightbox_content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0.5em 1em;
  }
  .lightbox_title,
  .lightbox_bottom {
    border-bottom: 1px solid #aaa;
    padding: 0.75em;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 50px;
    top: 0;
    font-size: 1.25em;
    font-weight: bold;
    left: 0;
    background: #f1f1f1;
  }
  .lightbox_bottom {
    top: auto;
    bottom: 0;
    border-top: 1px solid #aaa;
    border-bottom: none;
    text-align: right;
    padding: 0.25em;
    height: auto;
    .btn {
      margin: 0 0 0 auto;
      font-size: 0.938rem;
    }
  }
  .photo_block {
    flex: 1 1 30%;
    background: #eee;
    @include screen('mobile') {
      flex: 1 1 100%;
    }
    .crop_area {
      position: relative;
      @include aspect-ratio(4, 3);
      background: #888;
    }
  }
  .metadata {
    flex: 0 1 30%;
    background: #fff;
    padding: 2em 1em;
    @include screen('mobile') {
      flex: 1 1 100%;
    }
    .btn_grp {
      justify-content: flex-end;
      text-align: right;
    }
    .info {
      background: #f1f1f1;
      font-size: 0.75rem;
      padding: 1em;
      ul {
        @include li-reset;
        li {
          margin-bottom: 0.1em;
          line-height: 1.45em;
        }
      }
    }
  }
}
.upload_content {
  display: none;
  border: 2px solid $form-focus;
  font-size: 0.813em;
  padding: 1em;
  min-height: 150px;
  background: #f1f1f1;
  margin-bottom: 1em;
  position: relative;
  a.close {
    position: absolute;
    top: 0.5em;
    right: 0.75em;
    opacity: 0.35;
    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
  p {
    margin: 0 auto;
    text-align: center;
    color: #666;
    span {
      color: $color-red;
      font-weight: bold;
      margin: 0 0.5em;
    }
  }
  .photo_list {
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .item {
    position: relative;
    flex: 0 1 100px;
    max-width: 100px;
    &.error {
      background: darken($color-red, 20);
      p {
        color: #fff;
      }
      &:hover,
      &:focus {
        .delete {
          opacity: 1;
          i {
            opacity: 1;
          }
        }
      }
      .delete {
        position: absolute;
        background: darken($color-red, 20);
        width: 2em;
        height: 1.8em;
        top: 0;
        right: 0;
        z-index: 9;
        opacity: 0;
        i {
          filter: invert(100%);
          margin-left: 0.45em;
          margin-top: 0.25em;
        }
      }
    }
    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      background: rgba(255, 255, 255, 0.15);
      & ~ img {
        opacity: 0.55;
      }
    }
  }
}
.now_style {
  a {
    display: block;
    border: 1px solid #ccc;
    img {
      width: 100%;
    }
  }
}
.add_btn_grp {
  flex: 0 1 auto;
  margin: 0 0 0 auto;
  @include screen('notebook') {
    flex: 0 1 100%;
    text-align: left;
    .btn {
      margin-left: 0 !important;
    }
  }
  .btn {
    margin: 0 0 0.5em 0em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    background: #f7f7f7;
    padding-left: 0.2em;
    padding-right: 0.6em;
    font-weight: normal;
    font-size: 0.813rem;
    color: #333;
    width: 100%;
    i {
      font-size: 0.938rem;
      opacity: 0.5;
    }
    .ink {
      display: none;
    }
  }
}
.edit_block {
  .notice {
    background: none;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    padding: 0;
    align-items: center;
    margin-bottom: 0.5em;
    p {
      flex: 0 1 auto;
    }
    .add_btn_grp {
      flex: 0 1 auto;
      margin: 0 0 0 auto;
      @include screen('notebook') {
        flex: 0 1 100%;
        text-align: left;
        .btn {
          margin-left: 0 !important;
        }
      }
      .btn {
        margin: 0 0 0 0.5em;
        border: 1px solid #ccc;
        border-bottom: 2px solid #ccc;
        background: #f7f7f7;
        padding-left: 0.2em;
        padding-right: 0.6em;
        font-weight: normal;
        font-size: 0.813rem;
        color: #333;
        width: auto;
        i {
          font-size: 0.938rem;
          opacity: 0.5;
        }
        .ink {
          display: none;
        }
      }
    }
  }
  .template_fixed {
    flex: 1 1 100%;
    img {
      width: 100%;
      opacity: 0.5;
    }
  }
  .divider {
    margin: 0.25em auto 0.5em;
    flex: 1 1 100%;
    color: $color-blue;
    &:before,
    &:after {
      top: 0;
    }
  }
}
.right_sidebar {
  position: fixed;
  transform: translateZ(0);
  width: 300px;
  padding: 0 1em;
  right: -350px;
  top: 0;
  padding-top: 6em;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s cubic-bezier(0.17, 0.67, 0.07, 1.02);
  &.show {
    right: 0;
  }
  ._head {
    h3 {
      margin: 0;
    }
    position: relative;
    margin-bottom: 0.5em;
    a.close {
      position: absolute;
      width: 2em;
      background: $primaryColor;
      left: -3em;
      top: 0;
      padding: 0.5em;
      text-align: center;
      i {
        filter: invert(100%);
        display: block;
        font-size: 0.813em;
      }
      span {
        display: block;
        text-align: center;
        font-size: 0.813em;
        color: #fff;
        line-height: 1.35em;
      }
    }
  }
  ._content {
    overflow: hidden;
    background: #ccc;
    border-radius: $border-radius;
    overflow-y: scroll;
    height: calc(100% - 3em);
    padding: 1em 1em 3em;
    .item {
      border: 2px solid #ccc;
      border-radius: $border-radius;
      padding: 0.25em;
      margin-bottom: 0.5em;
      background: #fff;
      img {
        display: block;
        margin-bottom: 0.25em;
      }
      span {
        color: #222;
        text-align: center;
        display: block;
        font-size: 0.813rem;
        font-weight: bold;
      }
      &:hover {
        border: 2px solid $color-blue;
        cursor: grab;
      }
    }
  }
}
//mpBlock
.mpBlock {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px 25px;
  // margin-bottom: 1.5em;
  box-shadow: $box-shadow;
  position: relative;
  margin: 0 8px 1.5em;
  @include screen('mobile') {
    margin: 0 0 1.5em;
  }
  .title2 {
    font-weight: bold;
    font-size: 1.35em;
    margin: 0.6em 0.4em;
    color: $color-word;
    font-optical-sizing: auto;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
  }
  .more {
    position: absolute;
    top: 1.5em;
    right: 2.2em;
    a {
      display: inline-block;
      background: url(../images/arrow2.svg) no-repeat right top 0.45em;
      background-size: 0.8em auto;
      padding-right: 1.2em;
    }
    @include screen('mobile') {
      position: relative;
      right: 0.5em;
      top: -0.5em;
      text-align: right;
    }
  }
}
//cpBlock
.cpBlock {
  background: #fff;
  border-radius: 10px;
  padding: 30px 25px 10px;
  // margin-bottom: 1.5em;
  box-shadow: $box-shadow;
  position: relative;
  margin: 0 8px 1.5em;
  @include screen('mobile') {
    margin: 0 0 1.5em;
  }
  .title2 {
    font-weight: bold;
    font-size: 1.35em;
    margin: 0.6em 0.4em;
    color: $color-word;
  }

  .more {
    position: absolute;
    top: 1.5em;
    right: 2.2em;
    a {
      display: inline-block;
      background: url(../images/arrow2.svg) no-repeat right top 0.45em;
      background-size: 0.8em auto;
      padding-right: 1.2em;
    }
    @include screen('mobile') {
      position: relative;
      right: 0.5em;
      top: -0.5em;
      text-align: right;
    }
  }
}
.aCenter {
  text-align: center;
}
.aLeft {
  text-align: left;
}
.aRight {
  text-align: right;
}
.i_addfile {
  font-style: normal;
  background: $primaryColor;
  border-radius: 50%;
  padding: 5px 6px;
  margin-right: 5px;
}
